* {
  margin: 0; /* zerar a margem externa dos elementos*/
  padding: 0; /* zerar a margem interna dos elementos*/
}
header {
  /* Vamos adicionar uma imagem de fundo ao cabeçalho */
  background-image: url("../img/cafeteria2.jpg");
  height: 300px;
  background-position: 0px -100px;
  height: 300px;
  transition: ease 5s;
}

h1 {
  color: rgb(179, 18, 18);
  text-align: center; /* alinhamento do titulo cafeteria cafe torrado */
  font-family: "Anton"; /* familia fonte */
  font-size: 40pt; /* tamanho da fonte do titulo*/
  padding-top: 90px;
  text-shadow: 5px 5px 10px rgb(140, 120, 83);
}

/* Vamos formatar os elementos de li para ficar um ao lado do outro com o comando display */
nav ul li {
  /* dispor os links um ao lado do outro */
  display: inline-block;
  /*border: 1px solid red;*/
  margin-left: 10px;
  margin-right: 10px; /* aumentar distancia das margens é no li */
}
/* Alinhar os elementos de link ao centro usando text-align: center no nav, assim tudo que estiver centro do nav irá para o centro */
nav {
  text-align: center;
  margin-top: 91px;
  /* A cor utilizada para o fundo da nav foi o rgba, que significa red, green, blue e alpha( transparência), 
  onde o valor mais próximo do 0(zero) é totalmente transparente e quando mais próximo do 1 é totalmente solido. 
  neste caso estamos usando 80% de solidez, ou seja, aplicamos 20% de transparência) */
  background-color: rgba(255, 255, 255, 0.8);
  padding-top: 10px;
  padding-bottom: 10px;
}
nav ul li a {
  color: rgb(100, 0, 0);
  /* para retirar o sublinhado (underline) dos links 
  utilizaremos o comando text-decoration com o valor none (nenhum)*/
  text-decoration: none;
  font-family: "Anton";
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
  color: rgb(0, 200, 0);
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(0, 0, 0);
}
